:root {
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196f3;
    --first-title-color:#FFFFFF;
    --second-title-color:#212121;
    --first-button-text-color:#212121;
    --second-button-text-color:#ffffff; 
    --darkbgr-color: #2f303a;  /* Hero, footer background color */
    --mainbgr-color: #e5e5e5;  /* Main background color*/
    --mainbgrtwo-color: #f5f4fa;  /* 2nd Main background color */


}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color)
}

/*---------------HEADER---------------*/
.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.header-logo-part {
    color: #000      
}

.active {
    color: var(--accent-color);
}

.link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /*color: var(--main-text-color);*/
    color: inherit;
}   

.interactive:hover,
.interactive:focus {
    color: var(--accent-color);
}

.header-link-mail,
.header-link-tel {
    color: var(--secondary-text-color);
}

/*---------------HERO---------------*/
.hero {
    background-color: var(--darkbgr-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3; 
}

/*---------------FEATURE (Особенности)---------------*/
/*.feature {
    background-color: var(--mainbgr-color);
}*/

.feature-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--second-title-color)
}
.feature-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color);
}

/*----------section-2 photo (Чем мы занимаемся)---------->*/
.photo-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}


    
/*----------section 3 (about/О нас)----------*/
.team-title {   
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

/*---------------FOOTER---------------*/
.footer {
    background-color: var(--darkbgr-color);
}

.footer-logo-part {
    color: #FFFFFF     
}

.footer-link-way,
.footer-link-mail,
.footer-link-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-link-way {
    color: #FFFFFF;
}

.footer-link-mail,
.footer-link-tel {
    color: rgba(255, 255, 255, 0.6);
}

/*----------section  buttons-filter (Кнопки-Фильтр)----------*/
.filter-title{
    display: none;
}

.filter-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--first-button-text-color);
    background-color: var(--mainbgrtwo-color);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--second-button-text-color);
    background-color: var(--accent-color);
}

/*----------section project (секция с проектами)----------*/
.project-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
}
.project-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*----------обнуляшки----------*/
.list {
    list-style: none;
}
.project {
    text-decoration: none;
}
p {
    margin: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
}